* {
  border: 0;
  padding: 0;
  margin: 0;
}

div.court-header {
  margin-top: 50px;
  display: block;
}

div.court-footer {
  margin-left: 5vw;
  margin-right: 5vw;
  margin-bottom: 10vw;
}

div.team-one-desc {
  /*background-color: grey;*/
  box-sizing: border-box;
  border-width: 0.2vw 0.1vw 0.2vw 0.2vw;
  border-style: solid;
  border-color: black;
}

div.left-court {
  text-align: center;
}
div.right-court {
  text-align: center;
}
div.menu-holder {
  display: table;
  margin: auto;
}

#team-one-name {
  font-size: 3vw;
}
#team-two-name {
  font-size: 3vw;
}

div.team-two-desc {
  /*background-color: red;*/
  box-sizing: border-box;
  border-width: 0.2vw 0.2vw 0.2vw 0.1vw;
  border-style: solid;
  border-color: black;
}

div.stats-foreground {
  position: relative;
  background-color: grey; 
}

div.current-stat {
  margin-top: 25px;
  display: block;
}

#stat-team-name {
  font-size: 3vw;
}

#stat-display {
  font-size: 2vw;
}

#reset-button {
  margin-top: 1vw;
}

p.desc-text {
  font-size: 1.5vw;
}

div.court-wrapper {
  /*transform: scale(0.7);
  transform-origin: top center;*/
}

.court {
  display: flex;
  box-pack: center;
  justify-content: center;
  box-align: center;
  align-items: center;
  padding-bottom: 50px;
  /*transform: scale(0.7);*/
}
.court > main {
  display: flex; 
  /*transform: scale(0.7);*/

}

div.team-field {
  width: 25.2vw;
  height: 30.8vw;
  box-sizing: border-box;
  background: white;
  border-width: 0.4vw 0.2vw 0.4vw 0.4vw;
  border-style: solid;
  border-color: black;
  overflow: hidden;
  display: inline-flex;
  box-align: center;
  align-items: center;
  box-pack: justify;
  justify-content: space-between;
}

div.team-field:after {
  content: "";
  height: 7vw;
  width: 3.5vw;
  border-radius: 10vw 0 0 10vw;
  border-width: 0.4vw 0 0.4vw 0.4vw;
  border-style: solid;
  border-color: black;
}
div.team-field:nth-of-type(2) {
  transform: rotate(180deg);
}

div.three-points-arc {
  box-sizing: border-box;
  position: relative;
  right: 19.5%;
  border-width: 0.4vw 0.4vw 0.4vw 0;
  border-style: solid;
  border-color: black;
  border-bottom-right-radius: 55%;
  border-top-right-radius: 55%;
  height: 80%;
  width: 80%;
  background: white;
  display: flex;
  box-align: center;
  align-items: center;
  z-index: 100;
}


div.free-throws {
  box-sizing: border-box;
  height: 7.7vw;
  width: 16.1vw;
  border: 0.4vw solid black;
  border-right: 0;
  box-sizing: border-box;
  position: relative;
  display: box;
  display: flex;
  box-align: center;
  align-items: center;
  box-pack: end;
  justify-content: flex-end;
}
div.free-throws-circle {
  box-sizing: border-box;
  margin-right: -3.71vw;
  height: 7.7vw;
  width: 7.7vw;
  border-radius: 50%;
  border-width: 0.4vw;
  border-style: solid;
  border-color: black;
  position: relative;
  z-index: 200;
}

p.team-one-ft{
  
}

p.team-two-ft{
  transform: rotate(180deg);
}