* {
  border: 0;
  padding: 0;
  margin: 0;
}

div.court-header {
  margin-top: 50px;
  display: block;
}

div.team-one-desc {
  /*background-color: grey;*/
  box-sizing: border-box;
  border-width: 0.2vw 0.1vw 0.2vw 0.2vw;
  border-style: solid;
  border-color: black;
}

div.team-two-desc {
  /*background-color: red;*/
  box-sizing: border-box;
  border-width: 0.2vw 0.2vw 0.2vw 0.1vw;
  border-style: solid;
  border-color: black;
}

div.stats-foreground {
  position: relative;
  background-color: grey; 
}

.court-header > div.row > div.team-one-desc > p{
  /*color: red; */
}

.court-header > div.row > div.team-two-desc > p{
  /*color: green; */
}

div.current-stat {
  margin-top: 25px;
  font-size: xx-large;
  display: block;
}

.court {
  display: flex;
  box-pack: center;
  justify-content: center;
  box-align: center;
  align-items: center;
  padding-bottom: 50px;
}
.court > main {
  display: flex; 
}

.court > main > div.team-field {
  width: 36vw;
  height: 44vw;
  box-sizing: border-box;
  background: white;
  border-width: 0.4vw 0.2vw 0.4vw 0.4vw;
  border-style: solid;
  border-color: black;
  overflow: hidden;
  display: inline-flex;
  box-align: center;
  align-items: center;
  box-pack: justify;
  justify-content: space-between;
  z-index: 30;
}
.court > main > div.team-field:hover {
  background-color: red;
}
.court > main > div.team-field:after {
  content: "";
  height: 10vw;
  width: 5vw;
  border-radius: 10vw 0 0 10vw;
  border-width: 0.4vw 0 0.4vw 0.4vw;
  border-style: solid;
  border-color: black;
}
.court > main > div.team-field:nth-of-type(2) {
  transform: rotate(180deg);
}
.court > main > div.team-field:nth-of-type(2):hover {
  background-color: green;
}
.court > main > div.team-field > div.three-points-arc {
  box-sizing: border-box;
  position: relative;
  right: 19.5%;
  border-width: 0.4vw 0.4vw 0.4vw 0;
  border-style: solid;
  border-color: black;
  border-bottom-right-radius: 55%;
  border-top-right-radius: 55%;
  height: 80%;
  width: 80%;
  background: white;
  display: box;
  display: flex;
  box-align: center;
  align-items: center;
  z-index: 20;
}
.court > main > div.team-field > div.three-points-arc:nth-of-type(1):hover {
  background-color: yellow;
}
.court > main > div.team-field:nth-of-type(2) > div.three-points-arc:nth-of-type(1):hover {
  background-color: orange;
}

.court > main > div.team-field > div.three-points-arc > div.free-throws {
  box-sizing: border-box;
  height: 11vw;
  width: 23vw;
  border: 0.4vw solid black;
  border-right: 0;
  box-sizing: border-box;
  position: relative;
  display: box;
  display: flex;
  box-align: center;
  align-items: center;
  box-pack: end;
  justify-content: flex-end;
}

.court > main > div.team-field > div.three-points-arc > div.free-throws > div.free-throws-circle {
  box-sizing: border-box;
  transform: rotate(45deg);
  margin-right: -5.3vw;
  height: 11vw;
  width: 11vw;
  border-radius: 50%;
  border-width: 0.4vw;
  border-style: solid;
  border-color: black;
  position: relative;
  z-index: 10;
}

.court > main > div.team-field > div.three-points-arc > div.free-throws > div.free-throws-circle:hover {
  background-color: blue;
}

.court > main > div.team-field:nth-of-type(2) > div.three-points-arc > div.free-throws > div.free-throws-circle:hover {
  background-color: purple;
}



p.team-one-ft{
  
}

p.team-two-ft{
  transform: rotate(180deg);
}