* {
  border: 0;
  padding: 0;
  margin: 0;
}

div.court-header {
  padding-bottom: 50px;
}

div.team-one-desc {
  fill: grey;
}

div.team-two-desc {
  fill: red;
}

.court {
  display: flex;
  box-pack: center;
  justify-content: center;
  box-align: center;
  align-items: center;
}
.court > main {
  display: flex;
}
.court > main > div.team-field {
  width: 36vw;
  height: 44vw;
  box-sizing: border-box;
  background: white;
  border-width: 0.6vw 0.3vw 0.6vw 0.6vw;
  border-style: solid;
  border-color: black;
  overflow: hidden;
  display: inline-flex;
  box-align: center;
  align-items: center;
  box-pack: justify;
  justify-content: space-between;
}
.court > main > div.team-field:after {
  content: "";
  height: 10vw;
  width: 5vw;
  border-radius: 10vw 0 0 10vw;
  border-width: 0.6vw 0 0.6vw 0.6vw;
  border-style: solid;
  border-color: black;
}
.court > main > div.team-field:nth-of-type(2) {
  transform: rotate(180deg);
}
.court > main > div.team-field > div.three-points-arc {
  box-sizing: border-box;
  position: relative;
  right: 19.5%;
  border-width: 0.6vw 0.6vw 0.6vw 0;
  border-style: solid;
  border-color: black;
  border-bottom-right-radius: 55%;
  border-top-right-radius: 55%;
  height: 80%;
  width: 80%;
  background: white;
  display: box;
  display: flex;
  box-align: center;
  align-items: center;
}
.court > main > div.team-field > div.three-points-arc > div.free-trows {
  box-sizing: border-box;
  height: 11vw;
  width: 23vw;
  border: 0.6vw solid black;
  border-right: 0;
  box-sizing: border-box;
  position: relative;
  display: box;
  display: flex;
  box-align: center;
  align-items: center;
  box-pack: end;
  justify-content: flex-end;
}
.court > main > div.team-field > div.three-points-arc > div.free-trows > div.free-trows-circle {
  box-sizing: border-box;
  transform: rotate(45deg);
  margin-right: -5.3vw;
  height: 11vw;
  width: 11vw;
  border-radius: 50%;
  border-width: 0.6vw;
  border-style: solid;
  border-color: black;
  position: relative;
}

p.team-one-ft{
  
}

p.team-two-ft{
  transform: rotate(180deg);
}